version: "3.8"

services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.12
    environment:
      ETCD_ENABLE_V2: "true"
      ALLOW_NONE_AUTHENTICATION: "yes"
      ETCD_ADVERTISE_CLIENT_URLS: http://etcd:2379
      ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
    ports:
      - "2379:2379"

  apisix:
    image: apache/apisix:3.9.0
    depends_on:
      - etcd
      - keycloak
    volumes:
      - ./docker/apisix/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    ports:
      - "9080:9080"
      - "9443:9443"
      - "9180:9180"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  apisix-init:
    image: curlimages/curl:8.9.1
    depends_on:
      - apisix
    volumes:
      - ./docker/apisix/init-route.sh:/init-route.sh:ro
    entrypoint: ["/bin/sh", "/init-route.sh"]

  apisix-dashboard:
    image: apache/apisix-dashboard:3.0.1
    depends_on:
      - apisix
      - etcd
    volumes:
      - ./docker/apisix/dashboard_conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml:ro
    ports:
      - "9000:9000"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    command: ["start-dev", "--import-realm"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./docker/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    ports:
      - "18080:8080"
