server:
  port: 8080
spring:
  application:
    name: zuul-gateway

zuul:
  routes:
    self-hello:
      path: /proxy/**
      url: http://localhost:${server.port}/internal
      strip-prefix: true
  ignored-services: '*'

management:
  endpoints:
    web:
      exposure:
        include: health,info
