server:
  port: 8080
spring:
  application:
    name: zuul-gateway

zuul:
  routes:
    self-hello:
      path: /api/**
      url: http://localhost:8081/
      strip-prefix: true
  ignored-services: '*'

management:
  endpoints:
    web:
      exposure:
        include: health,info
